/* card.css */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #000;
	opacity: .75;
	color: #fff;
}

.card .fa {
	font-size: 50px;
}
