/* chat.css */

.btn-open-chat {
	padding: 19px;
	border-radius: 50%;
	position: fixed;
	bottom: 23px;
	right: 28px;
	z-index: 2;
}

.btn-open-chat .fa {
	font-size: 19px;
	color: white;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid var(--bg-skin-grey);
	z-index: 9;
}

.chat-popup .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.chat-popup .form-container input,
.chat-popup .form-container textarea {
	width: 100%;
	/* margin: 5px 0 22px 0; */
	margin: 2px 0 2px 0;
	border: none;
	background: var(--bg-skin-grey);
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
}

.chat-popup .form-container textarea {
	min-height: 200px;
}

.chat-popup .form-container input:focus,
.chat-popup .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

.chat-popup .form-container .btn {
	padding: 16px 20px;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

.chat-popup .form-container .btn:hover {
	opacity: 1;
}
