/* chat.css */

.btn-open-chat {
	padding: 19px;
	border-radius: 50%;
	position: fixed;
	bottom: 23px;
	right: 28px;
	z-index: 2;
}

.btn-open-chat .fa {
	font-size: 19px;
	color: white;
}

.chat-popup,
.chat-box {
	display: none;
}

.chat-popup {
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid var(--bg-skin-grey);
	z-index: 9;
}

.chat-popup .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.chat-popup .form-container input,
.chat-popup .form-container textarea {
	width: 100%;
	/* margin: 5px 0 22px 0; */
	margin: 2px 0 2px 0;
	border: none;
	background: var(--bg-skin-grey);
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
}

.chat-popup .form-container textarea {
	min-height: 200px;
}

.chat-popup .form-container input:focus,
.chat-popup .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

.chat-popup .form-container .btn {
	padding: 16px 20px;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

.chat-popup .form-container .btn:hover {
	opacity: 1;
}

.chat-box {
	width: 370px;
	background-color: white;
}

.chat-box .title {
	background: var(--green);
	color: white;
	line-height: 2.5;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-size: 20px;
}

.chat-box .box {
	border: 1px solid #efefef;
	padding: 10px 15px;
	min-height: 400px;
	max-height: 400px;
}

.chat-box .box .item {
	display: flex;
	float: left;
	margin: 10px 0;
}

.chat-box .box .item .icon {
	background: var(--green);
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.chat-box .box .item .msg {
	background: var(--green);
	color: white;
	border-radius: 10px;
	width: 150px;
	margin-left: 10px;
}

.chat-box .box .item .msg p {
	padding: 10px;
}

.chat-box .box .item.right {
	float: right;
}

.chat-box .box .item.right .msg {
	background: #efefef;
	color: #333;
}

.chat-box .typing-area {
	width: 100%;
	background: #efefef;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.chat-box .typing-area .input-field {
	width: 100%;
	position: relative;
}

.chat-box .typing-area .input-field input {
	width: 100%;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	outline: none;
	padding-right: 70px;
	font-family: 'Poppins', sans-serif;
	transition: 0.3s all ease;
}

.chat-box .typing-area .input-field input:focus {
	border-color: var(--green);
}

.chat-box .typing-area .input-field button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background: transparent;
	border: 1px solid var(--green);
	padding: 5px 10px;
	border-radius: 3px;
	color: var(--green);
	outline: none;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s all ease;
}

.chat-box .typing-area .input-field button:hover {
	background: var(--green);
	color: white;
}

.chat-box .typing-area .input-field input:valid ~ button {
	opacity: 1;
	pointer-events: auto;
}
