/* contact.css */
.contact-section .container {
	background-color: #f2f2f2;
	padding: 50px;
}

.contact-section .msg-box {
	padding: 10px;
	margin-bottom: 10px;
}

.contact-section .msg-box.success {
	color: green;
	border: 3px solid green;
}

.contact-section .msg-box.error {
	color: crimson;
	border: 3px solid crimson;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form select,
.contact-form textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: Arial, Helvetica, sans-serif;
}

.contact-form input[type='submit'] {
	background-color: var(--green);
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

.contact-form input[type='submit']:hover {
	background-color: var(--green2);
}

.contact-form .required::after {
	color: red;
	content: ' *';
}
