@import url('./variables.css');
@import url('./responsive.css');
@import url('./main-nav.css');
@import url('./button.css');
@import url('./form.css');
@import url('./card.css');
@import url('./price-table.css');
@import url('./portfolio.css');
@import url('./skill-bar.css');
@import url('./testimonial.css');
@import url('./chat.css');
@import url('./social-linkbar.css');
@import url('./subscribe-form.css');
@import url('./hero-image.css');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header and MainNav */

header {
	background-color: var(--bg-skin-grey);
	padding: 20px;
	overflow: hidden;
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

header a {
	text-decoration: none;
	color: #000000;
}

header a:hover {
	color: var(--green2);
}

header hgroup {
	text-align: left;
	float: left;
	line-height: 5px;
	line-break: normal;
}

header hgroup h1,
header hgroup h2 {
	padding-left: 12px;
}

header hgroup h2 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: monospace;
}

header hgroup h2::after {
	content: '|';
}

/* Main */

main {
	padding: 109px repeat(3, 20px);
}

section h3 {
	text-align: center;
	font-size: 1.5em;
}

section article {
	float: left;
	padding: 15px;
}

section.col-1 article {
	width: 100%;
}

section.col-2 article {
	width: 50%;
}

section.col-3 article {
	width: 33.33%;
}

section.col-4 article {
	width: 25%;
}

section.first-section {
	text-align: center;
	background-color: var(--dark-grey2);
	color: white;
	padding: 15px;
}

section:after {
	content: '';
	display: table;
	clear: both;
}

section a {
	color: var(--green);
}

section a:hover:not(.btn) {
	color: crimson;
}

main section.first-section article p::first-letter {
	font-size: x-large;
	color: var(--green);
}

/* Footer */

footer {
	background-color: #000;
	text-align: center;
	padding: 10px;
	color: #fff;
}

footer h3 {
	color: #eee;
}

footer p {
	opacity: 0.65;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: var(--green);
}

footer section {
	text-align: left;
	margin: 10px 200px 10px 200px;
}

footer section h3 {
	text-align: left;
	text-transform: uppercase;
}

footer section p,
footer section label {
	opacity: 0.5;
}
