* {
	box-sizing: border-box;
}

:root {
	--green: #4caf50;
	--green2: #45a049;
	--blue: #2196f3;
	--dark-red: #f44336;
	--dark-grey: #808080;
	--bg-skin-grey: #f1f1f1;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header and MainNav */

header {
	background-color: var(--bg-skin-grey);
	padding: 20px;
	overflow: hidden;
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

header a {
	text-decoration: none;
	color: #000000;
}

header a:hover {
	color: var(--green2);
	/* color: dodgerblue; */
}

header hgroup {
	text-align: left;
	float: left;
	line-height: 5px;
	line-break: normal;
}

header hgroup h1,
header hgroup h2 {
	padding-left: 12px;
}

header hgroup h2 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: monospace;
}

header hgroup h2::after {
	content: '|';
}

header nav {
	float: right;
	overflow: hidden;
	margin-top: 11.5px;
}

header nav a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-color: black;
	color: white;
	margin-right: 3px;
}

header nav a:hover {
	background-color: #ddd;
	color: #000;
}

nav .nav-icon {
	display: none;
}

/* Main */

main {
	padding: 109px repeat(3, 20px);
}

main section h3 {
	text-align: center;
	font-size: 1.5em;
}

main section article {
	float: left;
	padding: 15px;
}

main section.col-1 article {
	width: 100%;
}

main section.col-2 article {
	width: 50%;
}

main section.col-3 article {
	width: 33.33%;
}

main section.col-4 article {
	width: 25%;
}

main section:after {
	content: '';
	display: table;
	clear: both;
}

main section.first-section article p::first-letter {
	font-size: x-large;
	color: var(--green);
}

/* Card */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #444;
	color: white;
}

.card .fa {
	font-size: 50px;
}

/* Pricing Table */
.price-table {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price-table:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price-table .header {
	background-color: #111;
	color: white;
	font-size: 25px;
}

.price-table li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
}

.price-table .grey {
	background-color: #eee;
	font-size: 20px;
}

.price-table .btn-order {
	background-color: var(--green);
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

/* Portfolio Gallery */

.portfolio-container {
	background-color: var(--bg-skin-grey);
	padding: 10px;
}

/* Skillbar */

.skillbar {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.skillbar .skills.html-css {
	width: 90%;
	background-color: var(--green);
}
.skillbar .skills.react {
	width: 80%;
	background-color: var(--blue);
}
.skillbar .skills.js {
	width: 65%;
	background-color: var(--dark-red);
}
.skillbar .skills.py {
	width: 75%;
	background-color: var(--dark-grey);
}

.skillbar .skills.en {
	width: 85%;
	background-color: var(--blue);
}
.skillbar .skills.bn {
	width: 95%;
	background-color: var(--green);
}
.skillbar .skills.hi {
	width: 70%;
	background-color: var(--dark-grey);
}

/* Testimonial */

.testimonial {
	margin-top: -37px;
	position: relative;
	z-index: 1;
}

.testimonial .container {
	display: none;
}
.testimonial .container.active {
	display: block;
}

.testimonial .container {
	border: 2px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding: 16px 16px 16px 47px;
	margin: 16px 0;
}

.testimonial .container img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}

.testimonial .container span {
	font-size: 20px;
	margin-right: 15px;
}

.testimonial nav a.prev,
.testimonial nav a.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.testimonial nav a.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.testimonial nav a.prev:hover,
.testimonial nav a.next:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

/* Contact */
#contact .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form select,
.contact-form textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.contact-form input[type='submit'] {
	background-color: var(--green);
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

.contact-form input[type='submit']:hover {
	background-color: var(--green2);
}

.contact-form .required::after {
	color: red;
	content: ' *';
}

/* Online Chat */

.open-chat-btn {
	background-color: var(--green);
	border: none;
	padding: 19px;
	border-radius: 50%;
	cursor: pointer;
	position: fixed;
	bottom: 23px;
	right: 28px;
	z-index: 2;
}

.open-chat-btn:hover {
	background-color: var(--green2);
}

.open-chat-btn .fa {
	font-size: 19px;
	color: white;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid var(--bg-skin-grey);
	z-index: 9;
}

.chat-popup .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.chat-popup .form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: var(--bg-skin-grey);
	resize: none;
	min-height: 200px;
}

.chat-popup .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

.chat-popup .form-container .btn {
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

.chat-popup .form-container .send {
	background-color: var(--green);
}

.chat-popup .form-container .cancel {
	background-color: red;
}

.chat-popup .form-container .btn:hover,
.chat-popup .form-container .open-button:hover {
	opacity: 1;
}

/* Sticky Social Media Linkbar */

.social-icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.social-icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.social-icon-bar a:hover {
	background-color: #000;
}

.social-icon-bar a.facebook {
	background: #3b5998;
	color: white;
}
.social-icon-bar a.twitter {
	background: #55acee;
	color: white;
}
.social-icon-bar a.google {
	background: #dd4b39;
	color: white;
}
.social-icon-bar a.linkedin {
	background: #007bb5;
	color: white;
}
.social-icon-bar a.youtube {
	background: #bb0000;
	color: white;
}

.social-icon-bar .toggle {
	display: none;
}

/* Footer */

footer {
	background-color: var(--bg-skin-grey);
	text-align: center;
	padding: 10px;
}

/* @media rules */

@media screen and (max-width: 600px) {
	main section.col-1 article,
	main section.col-2 article,
	main section.col-3 article,
	main section.col-4 article,
	.contact-form input[type='submit'] {
		width: 100%;
	}

	main {
		padding: 20px;
	}

	header hgroup h1 {
		font-size: 1.7em;
	}

	header nav {
		float: none;
		display: block;
		width: 100%;
	}
	header nav a {
		width: 100%;
		margin: 0;
		padding: 14px;
		text-align: left;
		margin-top: 3px;
	}

	.social-icon-bar a:not(.toggle) {
		display: none;
	}
	.social-icon-bar .toggle {
		display: block;
	}
	.social-icon-bar.res-show a {
		display: block;
	}
	.social-icon-bar .toggle {
		writing-mode: vertical-rl;
		text-decoration: none;
		background-color: #000;
		opacity: 0.4;
		padding: 10px 3px 10px 0px;
	}
}

@media (max-width: 500px) {
	.testimonial .container {
		text-align: center;
		padding: 16px;
	}
	.testimonial .container img {
		margin: auto;
		float: none;
		display: block;
	}
}
