/* price-table.css */
.price-table {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price-table:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price-table .header {
	background-color: #111;
	color: white;
	font-size: 25px;
}

.price-table li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
}

.price-table .grey {
	background-color: #eee;
	font-size: 20px;
}

.price-table .btn-order {
	font-size: 18px;
}
