/* responsive.css */

@media screen and (max-width: 600px) {
	main section.col-1 article,
	main section.col-2 article,
	main section.col-3 article,
	main section.col-4 article,
	.contact-form input[type='submit'] {
		width: 100%;
	}

	main {
		padding: 20px;
	}

	header hgroup h1 {
		font-size: 1.7em;
	}

	header nav {
		float: none;
		display: block;
		width: 100%;
	}
	header nav a {
		width: 100%;
		margin: 0;
		padding: 14px;
		text-align: left;
		margin-top: 3px;
	}

	.social-icon-bar a:not(.toggle) {
		display: none;
	}
	.social-icon-bar .toggle {
		display: block;
	}
	.social-icon-bar.res-show a {
		display: block;
	}
	.social-icon-bar .toggle {
		writing-mode: vertical-rl;
		text-decoration: none;
		background-color: #000;
		opacity: 0.4;
		padding: 10px 3px 10px 0px;
	}
}

@media (max-width: 500px) {
	.testimonial .container {
		text-align: center;
		padding: 16px;
	}
	.testimonial .container img {
		margin: auto;
		float: none;
		display: block;
	}
}