/* responsive.css */

@media screen and (max-width: 600px) {
	main section.col-1 article,
	main section.col-2 article,
	main section.col-3 article,
	main section.col-4 article,
	footer section.col-1 article,
	footer section.col-2 article,
	footer section.col-3 article,
	footer section.col-4 article,
	.contact-form input[type='submit'] {
		width: 100%;
	}

	main {
		padding: 20px;
	}

	header hgroup h1 {
		font-size: 1.2em;
	}

	header hgroup h2 {
		font-size: 1em;
	}

	header nav {
		float: none;
		display: block;
		width: 100%;
	}
	header nav a {
		width: 100%;
		margin: 0;
		padding: 14px;
		text-align: left;
		margin-top: 3px;
	}

	header nav a:not(.nav-icon) {
		display: none;
	}

	header nav.res-show a {
		display: block;
	}

	header nav .nav-icon {
		display: block;
		position: absolute;
		top: 23px;
		right: 28px;
		width: auto;
		z-index: 2;
	}

	.blank-col {
		display: none;
	}

	footer section {
		margin: 5px;
	}

	.social-icon-bar a:not(a.toggle) {
		display: none;
	}
	.social-icon-bar a.toggle {
		display: block;
	}
	.social-icon-bar.res-show a:not(a.toggle) {
		display: block;
	}
	.social-icon-bar a.toggle {
		writing-mode: vertical-rl;
		text-decoration: none;
		background-color: #000;
		opacity: 0.4;
		padding: 10px 3px 10px 0px;
	}

	.testimonial .container {
		text-align: center;
		padding: 16px;
	}
	.testimonial .container img {
		margin: auto;
		padding-top: 6px;
		margin-left: -5px;
		float: none;
		display: block;
	}
	.testimonial .container p {
		text-align: left;
	}
}
