.mc-field-group {
	margin-top: -14px;
}

.mc-field-group input {
	background-color: #fff;
	float: left;
}

.mc-field-group input,
.btn-subscribe {
	font-size: 17px;
	padding: 10px;
	border: 1px solid grey;
}

.mc-field-group .btn-subscribe {
	border-left: none;
	width: 45px;
}
