.mc-field-group {
	margin-top: -14px;
}

.mc-field-group input.email {
	background-color: #fff;
	float: left;
	width: initial;
	margin: initial;
}

.mc-field-group input.email,
.btn-subscribe {
	font-size: 17px;
	padding: 10px;
	border: 1px solid grey;
}

.mc-field-group .btn-subscribe {
	border-left: none;
	width: 45px;
}
