table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
}

table th,
table td {
	text-align: left;
	padding: 12px;
}

table tr {
	border-bottom: 1px solid #ddd;
}

table a.visit {
	font-size: medium;
}
